/* Color palette
background - #146356
text - #a3da8d
other - #fff1bd
other - #f3c892 */

body {
    background-color: #146356;
    color: #a3da8d;
    font-family: 'Source Code Pro', sans-serif;
}


/* div {
    border-style: solid;
    border-width: 4px;
    border-color: black;
} */

.header {
    color: #fff1bd;
    text-align: center;
}

.game-container,
.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.result,
.choice-container {
    display: flex;
    flex-direction: column;
    /* margin: 5px auto; */
    align-items: center;
    justify-content: center;
}

.player-hand,
.computer-hand {
    display: flex;
    flex-direction: column;
    /* margin: 5px auto; */
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #146356;
}

.player-img,
.computer-img,
.player-box,
.computer-box {
    width: 250px;
    height: 250px;
    /* border-style: solid;
    border-width: 4px;
    border-color: #f3c892;
    border-radius: 10px; */
}

.rock,
.paper,
.scissors {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.rock:hover,
.paper:hover,
.scissors:hover {
    transform: scale(1.05, 1.05);
    border-color: #a3da8d;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: black;
}

.rock>img,
.paper>img,
.scissors>img {
    width: 100px;
    height: 100px;
}

.img>img {
    width: 250px;
    height: 250px;
}

.player-winner {
    border-color: #a3da8d;
}

.computer-winner {
    border-color: #ff6363;
}


/* .choices {
    border-style: solid;
    border-left: black;
    border-right: black;
    border-radius: 10px;
} */